# Visual Studio Code
.vscode/

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#dotnet
bin/
obj/
*.user
*.lock
*.vspscc
*.vssscc
.vscode/
.idea/
.DS_Store

# Build results
[Ll]og/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]uild/
[Bb]in/
[Oo]bj/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Entity Framework Core Migrations
**/Migrations/*.cs
!**/Migrations/*Designer.cs
**/Migrations/*.resx
**/Migrations/*.snapshot