.c-screen {
    display: flex;
    position: relative;
    height: calc(100% - 50px);
    margin: 0 10px 10px 10px;
    width: calc(100% - 20px);
}

.calendar-table {
    width: 100%;
    border-collapse: collapse;
    text-align: start;
    font-family: "Roboto classic";
    gap: 1px;
}

.calendar-table th {
    background-color: var(--theme-color-background);
    border: none;
    color: var(--text-color-secondary);
    height: 25px;
    width: calc(100% / 7);
    padding: 0; 
    text-align: start;
}
.calendar-table th span {
    font-family: "Roboto light";
    font-size: 12px;
    font-weight: bold;
    padding-left: 6px;
}

.calendar-table td {
    height: calc(100% / 6);
}

.calendar-table td {
    border-top: 1px solid var(--theme-color-form);
    border-right: 3px solid var(--theme-color-background);
    border-left: 3px solid var(--theme-color-background);
    border-bottom: none;

    position: relative;
    color: var(--text-color-main);
    padding: 0; 
    cursor: pointer;
}

.calendar-table .current-month-day {
    background-color: transparent;
}

.calendar-table .prev-month-day, .calendar-table .next-month-day {
    background-color: transparent;
    color: var(--text-color-secondary); 
}

.calendar-table .today {
    color: var(--neutral-color-accent);
    font-weight: bold;
}

.index-container {
    position: absolute;
    top: 3px;
    left: 3px;
    font-family: "Roboto light";
    font-size: 9px;
    display: flex;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
}

.calendar-table .today .index-container {
    background-color: var(--neutral-color-accent);
    border-radius: 50%;
    color: var(--text-color-inverse);
}

.calendar-table .weekend {
    background-color: var(--theme-color-secondary);
}
